{% extends "account/accounts_sub.html" %}

{% block title %}password changed | QuickWrite{% endblock %}

{% block account_content %}
    <div class="col col-11 col-xs-6 col-sm-6 col-md-3 col-lg-3 col-xl-3 account_content_div">
        <h2 class="formTitle">Password reset complete</h2>
        <hr>
        <p class="formInstructions">
            Your password has been set. You may go ahead and log in now.
        </p>
        <a href="#">
            <button class="formButtons"> Back To Homepage</button>
        </a>
    </div>
{% endblock %}