{% extends "account/accounts_sub.html" %}

{% block title %}password reset | QuickWrite{% endblock %}

{% block account_content %}
    <div class="col col-11 col-xs-6 col-sm-6 col-md-3 col-lg-3 col-xl-3 account_content_div">
        <h2 class="formTitle">Enter new password</h2>
        <hr>
        <p class="formInstructions">Please enter your new password twice, so we can verify you typed it in correctly.</p>
        <form method="post" class="accounts_form">
            {% csrf_token %}
            <label for="new_password1">Create new password:</label>
            <input class="formInputs"  type="password" id="new_password1" name="new_password1" placeholder="New password" required>
            <label for="new_password2">Confirm new password:</label>
            <input class="formInputs"  type="password" id="new_password2" name="new_password2" placeholder="Confirm new password" required>
            <button type="submit" class="formButtons">Reset my password</button>
        </form>
    </div>
{% endblock %}